extends layout

block content
	div(role="tabpanel")
		nav.navbar.navbar-inverse.navbar-static-top
			div.container-fluid
				ul.nav.nav-pills(role="tablist")
					li(role="presentation").active
						a(href="#home", aria-controls="Home", role="tab", data-toggle="tab") Home 
					li(role="presentation")
						a(href="#calculator", aria-controls="Calculator", role="tab", data-toggle="tab") Calculator 
					li(role="presentation")
						a(href="#my-foods", aria-controls="My Foods", role="tab", data-toggle="tab") My Foods
	div(role="tabpanel")
		navbar.navbar-default.navbar-fixed-bottom
			div.container-fluid
				ul.nav.navbar-nav.navbar-right.nav-pills
					li 
						a Blog
					li 
						a Terms
					li 
						a Privacy
					li 
						a Contact Us
					li 
						a API
					li 
						a Jobs
					li 
						a Feedback



	div.tab-content
		
		div(role="tabpanel").tab-pane.active#home
			.row.padded
				.col-md-6 
					img.hero(src="/images/Ahealthyfooditems.png")
				.col-md-6
					h1.padded Accurately Calculate Your Insulin Dosage with MyBolus
					h3 The fastest, easiest to use bolus calculator app
					//- input.btn.btn-info.btn-lg(value="Sign up with Email")
					//- //- a(href="/account/create" class="email-signup" tabindex="2") Sign up with Email
					//- a.btn.btn-block.btn-social.btn-facebook
					//- 	i.fa.fa-facebook Sign up with Facebook
					
					h2.italicize Join the thousands of people who use MyBolus's FREE calculator!
					h3 Get free access to one of the largest food databases - over 5 million foods!

					ul.features
						li Medical studies show that keeping an accurate blood glucose count is critical for maintaining good diabetic health
						li Quickly add and log recipes from across the web
						li Carbohydrate search feature - Access nutritional values in mere seconds! 
						li Easy and fast!
						li Completely free, no strings attached!

			hr.padded-hr
			.row.padded
				.col-md-6 
					h2 Accurately measure your insulin dosage and stay healthy!
					h2 Features
					ul.features 
						li Bolus Calculator: An easy to use calculator that takes away all the hassle of pre-meal number crunching
						li Carbohydrate Search: Tired of spending all that time reading nutritional labels? Use the powerful "wolframalpha" search functionality to query just how many carbs are in a particular food item and get instant results! Search for anything from generic entries like "slice of pizza" to something as specific as "McDonald's Big Mac"!
						li Custom Food Database Entry: Have a favorite meal? You can log it into our food database! Whether its mom's apple pie or your "quiche on a leash" breakfast recipe, you can store and access its nutritional content with ease! 
				.col-md-6
					h3.centered-motivation-text "Maintaining a healthy blood glucose level is an important part of managing your diabetes. Gimicky machines and fad diets don't work, so we designed a free website and mobile apps that makes bolusing easy." 
			
			hr.padded-hr
			.row.padded
				.col-sm-6.col-md-4
					.thumbnail
						img.resize-image(src='https://media.licdn.com/media/p/3/000/04c/0ae/3440e59.jpg')
						|       
						.caption
						h3.caption-padding MyBolus Reassures Me! 
						p.testimonial-text As the proud father of four children, two of whom have type I diabetes, meal time can be especially hectic. MyBolus makes our meals super-efficient by helping reduce the complexity of the calculation process. What I really like it about though, is that the app accurately calculates bolus dosages, meaning that I don't have to worry about my two little girls, Mindy and Mandy, making any errors and injecting the wrong amount of insulin. 
						|         
						h4.testimonial-name.italicize - Chris "Sensei" Rolfs
							
				
				.col-sm-6.col-md-4
					.thumbnail
						img.resize-image(src='http://www.theprovince.com/cms/binary/7525845.jpg')
						|       
						.caption
						h3.caption-padding MyBolus Has a Great Search and Saves Me Time Too!  
						p.testimonial-text MyBolus has been instrumental in helping me to manage my diabetes. Its saved me so much time, I've actually been able to star in 36 B-list films just this year alone! Gone are the times when I would have to spend 10-15 minutes looking at nutrition labels, guesstimating, and doing mind-numbing number cruching just to eat some grub. Now, I log onto MyBolus and I'm chowing down on mama's pasta after just one minute. An added bonus is that I no longer have to do all those annoying calculations! Sigh...If only I could resurrect my career as easily...
						p.testimonial-text "MyBolus has made a tremendous difference in my life! I love the food query ability since it makes it almost impossible to NOT find a food that you're eating. The recipe logger makes it so much easier to track the nutrition in homemade meals as well, and since I can stash those values in the app, I now have a handy little library of all my favorite recipes. 
						|         
						h4.testimonial-name.italicize - David "The Hoff" Hasselhoff
							

				.col-sm-6.col-md-4
					.thumbnail
						
						img.resize-image(src='https://avatars0.githubusercontent.com/u/2018167?v=3&s=400')
						|       
						.caption
						h3.caption-padding MyBolus Is Easy To Use! 
						p.testimonial-text "A friend of mine recommended MyBolus to me. I was concerned that it would be too time consuming and difficult to use...But it's easy! It's just a couple of clicks and you're done! I mean, the code is so seriously well written and designed...I can only pray that I too will one day possess the sheer level of brilliance that whoever authored such code has resting inside his or her magnificient head. He or she should seriously be offered the nobel peace prize along with a high level coding job where he does nothing all day but occasionally supervise code lackeys and earn a "jillion" dollar salary along with excellent health benefits (acupuncture included), a generous 401k and stock options.  
						|         
						h4.testimonial-name.italicize - Michael "Code-Money" Herman



		div(role="tabpanel").tab-pane#my-foods

			form.row.padded#new-food
				h2 Add a food
				.form-group
					input#food-name.form-control(type="text", placeholder="Food Name...")
				.form-group
					input#serving-size.form-control(type="text", placeholder="Serving Size...")
				.form-group
					input#carbohydrate-count.form-control(type="number", step="any", placeholder="Grams of Carbohydrates...")
				.form-group
					input.btn.btn-primary(type="submit", value="Add Food")

			hr
			
			h2.row.padded Your Foods
			ul.row.padded#food-list
				for food in foods
					li.food(data-id="#{food._id}")
						strong= food.name
						| &nbsp;
						a.transfer(href="#") transfer
						|  - 
						a.view(href="#") view
						|  - 
						a.edit(href="#") edit
						|  - 
						a.delete(href="#") delete


			#add-modal.modal.fade
				.modal-dialog
					.modal-content
						//- .modal-header
						//- 	button.close(type="button", data-dismiss="modal")
						//- 		span &times;
						.modal-body
							button.close(type="button", data-dismiss="modal")
								span &times;
							//- h5 Carbohydrate content added! 



			#transfer-modal.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button", data-dismiss="modal")
								span &times;
						.modal-body
							h5 Are you sure you wish to transfer carbohydrate content? 
							a.btn.btn-primary#transfer-confirm OK
							&nbsp;
							&nbsp;
							a.btn.btn-primary#transfer-cancel Cancel
							//- Make sure to space the buttons apart

			#view-modal.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button", data-dismiss="modal")
								span &times;
							h4.modal-title.food-name Food Name
						.modal-body
							h5.serving-size servingSize 
							h5.carbohydrate-count carbohydrates
											
							
			#edit-modal.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button", data-dismiss="modal")
								span &times;
							h4.modal-title Edit a Food
						form#edit-form
							input.food-id(type="hidden")
							.modal-body
								.form-group
									input.food-name.form-control(type="text", placeholder="Food Name...")
								.form-group
									input.serving-size.form-control(type="text", placeholder="Serving Size...")
								.form-group
									input.carbohydrate-count.form-control(type="number", step="any", placeholder="Grams of Carbohydrates...")
							
							.modal-footer
								input.btn.btn-primary(type="submit", value="Save Changes")




		div(role="tabpanel").tab-pane#calculator

			form.row.padded#calculator-input
					h2 Bolus Calculator 
					.form-group
						input#carb-intake.form-control(type="number", placeholder="Grams of Carbohydrates Ingested" name="Carbohydrate Intake")
					.form-group
						input#carb-to-insulin-ratio.form-control(type="number", placeholder="Carb to Insulin Ratio" name="Carb to Insulin Ratio")
					.form-group
						input#correction-factor.form-control(type="number", placeholder="Correction Factor / Insulin Sensitivity - mg/dl" name="Correction Factor / Insulin Sensitivity")
					.form-group
						input#current-bg.form-control(type="number", placeholder="Current Blood Glucose - mg/dl" name="Current Blood Glucose")
					.form-group
						input#desired-bg.form-control(type="number", placeholder="Desired Blood Glucose - mg/dl" name="Desired Blood Glucose")
					.form-group
						input.btn.btn-primary#bolusCalcButton(type="submit", value="Calculate")
					br 
			div.row.padded#bolusCalcResult

			hr.divider-border

			form.row.padded#food-search-input(action="/wolframTest", method="post")
				h3 Lookup a Food's Carb Value
				.form-group
					input#food-search.form-control(type="text", placeholder='Food Name...e.g."pizza"', name="foodsearch")
				.form-group
					input.btn.btn-primary(type="submit", value="Search")
			div.row.padded#carbValue







